---
title: Share Apartment Listings | RentJuice Directory
desc: Property Managers can selectively share their listings with trusted agents who can move them on their behalf.
keywords: 

layout: default
pageId: directory
pageClass: directory
mainNavClass: product
css: [the-product] 
js: [directory-script]
---

<!-- Top Section - Double Inventory -->
<div id="section-top" class="stack-text right">
	<div id="user" class="circle border-drop"></div>
	<div id="agent" class="abs-img circle border-drop"></div>
	<h1 class="condenced-bold">Double your inventory.<br/>Immediately.</h1>
	<p class="light">
	Invite landlord partners to privately share their listings with you through RentJuice for free. Once connected, you can view their shared availabilities.
	</p>
	<a class="light" href="http://info.rentjuice.com/broker-demo.html">Get started today &raquo;</a>
</div>
<!-- Send Listings -->
<div id="send" class="stack-text right alt-bkg">
	<div id="map" class="circle border-drop abs-img under"></div>
	<div id="apt-one" class="circle border-drop abs-img over"></div>
	<div id="apt-two" class="circle border-drop abs-img over"></div>
	<h2 class="condenced-bold">Send listings to brokers. Free.</h2>
	<p class="light">
	Landlords and property managers can share listings with RentJuice brokers, totally free of charge. Either openly or selectively.
	</p>
	<a class="light" href="market.html">Add your listings to The Directory today &raquo;</a>
</div>
<!-- Access Listings -->
<div id="access" class="stack-text right">
	<div id="nyc-map" class="abs-img border-drop circle"></div>
	<div id="boston-map" class="abs-img border-drop circle"></div>
	<div id="chicago-map" class="abs-img border-drop circle"></div>
	<h2 class="condenced-bold">Access listings all over your city.</h2>
	<p class="light">
		The Directory is currently available in:<br/>
		<ul>
			<li>New York City</li>
			<li>Boston</li>
			<li>Chicago</li>
			<li>Miami</li>
		</ul>
	</p>
	<a class="light" href="lease.html">Be notified when we come to your city &raquo;</a>
</div>
<!-- MLS -->
<div id="mls" class="stack-text right alt-bkg ten-bottom-rounded">
	<div id="listing" class="circle border-drop abs-img"></div>
	<div id="map" class="circle border-drop"></div>
	<h2 class="condenced-bold">Even access MLS listings.</h2>
	<p class="light">
	In addition to accessing openly shared listings, RentJuice can also pull all available MLS availabilities into your inventory. Once there, you can market and lease them just like any other unit. We can have their units live in your account in less than 24 hours. All we need is your MLS number.
	</p>
	<a class="light" href="/mls-integration">See our full list of MLS partners &raquo;</a>
</div>

{% include what_people_are_saying.ext %}
{% include call_to_action_pricing.ext %}
