---
title: Leasing Apartments | Tenant Screening
desc: Leasing documents can now be digitized. Allow your applicants to fill out all necessary documents in one place online.
keywords:

layout: default
pageId: lease
pageClass: lease
mainNavClass: product
css: [the-product] 
js: [lease-script] 
---
<!-- Scroll Graphics -->
<div id="scroll-graphics-area">
	<div id="scrolling-graphic-position" class="lead-face">
		<div id="scrolling-graphic" class="border-drop circle"></div>
	</div>
</div>
<!-- Top Section - Anywhere -->
<div id="section-top" class="stack-text right">
	<div id="customer-sign" class="circle border-drop abs-img"></div>
	<div id="map" class="circle border-drop abs-img"></div>
	<h1 class="condenced-bold">Suddenly, you can lease from anywhere.</h1>
	<p class="light">When the leasing process goes digital, things start getting done faster. Things like instant replies to new clients with tailored apartment recommendations. A online application process that's completely transparent. Faster makes for happier clients.</p>
</div>
<!-- Capture -->
<div id="capture" class="stack-text right alt-bkg">
	<div id="iphone" class="pre-iphone"></div>
	<div id="check-mark" class="pre-check-mark"></div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h2 class="condenced-bold">Capture new leads.</h2>
	<p class="light">Every ad created through your RentJuice database comes with its own contact form. And they're all automatically synced to your RentJuice lead database. You'll know which of your ads are bringing in leads, so you can plan for the future accordingly.</p>
</div>
<!-- Match Maker -->
<div id="buy" class="stack-text right">
	<div id="big-lead" class="circle border-drop abs-img under"></div>
	<div id="small-lead" class="circle border-drop abs-img under"></div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h2 class="condenced-bold">Send listings they'll love.</h2>
	<p class="light">With RentJuice, as soon as your new lead comes through, we'll automatically match them up with units from your inventory that match their preferences.</p>
</div>
<!-- Track-->
<div id="track" class="stack-text right alt-bkg">
	<div id="comment-box" class="abs-img activity-box under">
		<span id="comment-time" class="abs-img time-stamp reg"><strong>6:00 PM</strong>&nbsp;<span class="dashes">&nbsp;-&nbsp;-</span></span>
		<span id="comment-title" class="reg"><strong>Agent Sally</strong> commented on Jane Doe:</span>
		<span id="comment" class="reg">"Jane Doe would like to see the apartment with his family. Bring a dog treat for their terrier named Charlie."</span>
	</div>
	<div id="reminder-box" class="abs-img activity-box under">
		<span id="reminder-time" class="abs-img time-stamp reg"><strong>7:30 AM</strong>&nbsp;<span class="dashes">&nbsp;-&nbsp;-</span></span>
		<span id="reminder-description" class="reg"><strong>Agent Kevin</strong> will be reminded to have a showing, regarding <span class="link">Jane Doe</span>.</span>
		<span id="reminder-link" class="reg link"><strong>View Description</strong></span>
	</div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h2 class="condenced-bold">Track all their activities.</h2>
	<p class="light">Our straightforward tool automatically records e-mails, notes, showings, and closings. </p><br/>
	<p class="light">Never again wonder if you’ve already taken someone on a showing. Or spend another half hour trying to track down old e-mail conversations. RentJuice saves everything for you, so you can concentrate on closing deals.</p>
</div>
<!-- Approve-->
<div id="approve" class="stack-text right">
	<div id="approval-details" class="reg abs-img under">
		<div id="file-icon" class="abs-img"></div>
		<div id="lead-name" class="">Jane Doe</div>
		<div id="credit-check" class="check">Credit Check:<span id="status" class="pass"> PASS</span></div>
		<div id="background-check" class="check">Background Check:<span id="status" class="pass"> PASS</span></div>
	</div>
	<div id="signature" class="abs-img pre-sig"></div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h2 class="condenced-bold">Approve them online.</h2>
	<p class="light">Send and receive all of your applications electronically. RentJuice can use your applications to run credit checks, generate forms, and create all that other paperwork that you loathe.</p>
</div>
<!-- Forms -->
<div id="forms" class="stack-text right alt-bkg ten-bottom-rounded">
	<div id="form-papers" class="pre-form abs-img under"></div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h2 class="condenced-bold">Even on your own forms.</h2>
	<p class="light">Any organization can put their forms on RentJuice. When they're connected to our online applications, we'll be able to neatly fill out everything for you. Saving you from having to decipher hideous handwriting, or worse...fill everything out yourself.</p>
</div>

{% include mobile.ext %}

{% include call_to_action_pricing.ext %}
