---
title: Apartment Marketing | Real Estate Marketing
desc: Our apartment marketing tools make your rental real estate marketing efforts a cinch.
keywords: 

layout: default
pageId: market
pageClass: market
mainNavClass: product
css: [the-product] 
js: [market-script] 
---
<!-- Scroll Graphics -->
<div id="scroll-graphics-area">
	<div id="scrolling-graphic-position" class="apt-img">
		<div id="scrolling-graphic" class="border-drop circle"></div>
	</div>
</div>
<!-- Top Section - Get Set -->
<div id="section-top" class="stack-text right">
	<div id="icon" class="facebook abs-img over"></div>
	<div id="browser" class="abs-img over"><span id="screen" class="facebook"></span></div>
	<div id="unfurn-apt" class="circle border-drop abs-img over"></div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h1 class="condenced-bold">Ready, set, lease.</h1>
	<p class="light">
	With RentJuice, all of your availabilities can be broadcast 
	to every corner of the web. Your website, your Facebook page, 
	Craigslist... everywhere. Getting set up is simple.
	</p>
</div>
<!-- Data Entry -->
<div id="data-entry" class="stack-text right alt-bkg">
	<div id="computer" class="abs-img over"></div>
	<div id="apt-one" class="circle border-drop abs-img over"></div>
	<div id="apt-two" class="circle border-drop abs-img over"></div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h2 class="condenced-bold">All of your listings.</h2>
	<p class="light">
	Our data entry team is fast, accurate, and cheaper than 
	that intern you’ve been paying $400/week. We work with 
	your shared listings, your exclusives and all local 
	MLS listings, too.
	</p>
</div>
<!-- Directory -->
<div id="directory" class="stack-text right">
	<div id="map" class="circle border-drop abs-img under"></div>
	<div id="apt-one" class="circle border-drop abs-img over"></div>
	<div id="apt-two" class="circle border-drop abs-img over"></div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h2 class="condenced-bold">And listings from around town.</h2>
	<p class="light">
	Looking for more listings to market? Instantly grow your 
	listings database with The RentJuice Directory.
	</p>
	<a class="light" href="/directory">The RentJuice Directory &raquo;</a>
</div>
<!-- Websites -->
<div id="websites" class="stack-text right alt-bkg">
	<div id="browser" class="abs-img over"><span id="screen" class="facebook"></span></div>
	<div id="icon" class="facebook abs-img over"></div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h2 class="condenced-bold">On all of your websites.</h2>
	<p class="light">
	If you already have a website, we can put all of your listings
	on it, make them searchable, and attach lead forms to them. 
	You’ll be generating double the leads in no time.
	</p>
</div>
<!-- Published -->
<div id="published" class="stack-text right alt-bkg ten-bottom-rounded">
	<div id="syndication-logos" class="abs-img over"></div>
	<div id="furn-apt" class="circle border-drop abs-img over"></div>
	<span id="dot-line" class="abs-img vert dotted-line under"></span>
	<h2 class="condenced-bold">And published everywhere else.</h2>
	<p class="light">
	We syndicate your listings to dozens of sites across the web.
	<a href="/syndication-partners">View the complete list here.</a> <br/><br/>Worried about 
	your listings looking like everyone else's? We've got 
	custom ad templates to help you stand out from the crowd.
	</p>
</div>

{% include mobile.ext %}
{% include call_to_action_pricing.ext %}
