/* The Product Graphics */
.product #section-top #customer { background:url('/images/the-product-top.png'); width:500px; height:500px; position:absolute; left:-70px; bottom:-127px; z-index:99; }
.product #section-top #map { background:url('/images/the-product-map.png') no-repeat -10px -70px; width:200px; height:200px; position:absolute; left:280px; bottom:175px; z-index:98; }
.product #market-person { background:url('/images/hp-market-person.png') no-repeat top left; width:317px; height:400px; bottom:0px; right:210px; }
.product #market .cut-off-graphics { width:402px; }
.product #market-bkg { background:url('/images/hp-market-bkg.png') no-repeat top left; width:402px; height:450px;  }
.product #lease-hand { background:url('/images/hp-lease-hand.png') no-repeat top left; width:350px; height:385px; bottom:0px; left:170px; }
.product #lease-bkg { background:url('/images/hp-lease-bkg.png') no-repeat top left; width:289px; height:444px; }
.product #retain { height:225px; background-color:#fff; }
.product #retain-img { background:url('/images/hp-retain.png') no-repeat top left; width:520px; height:375px; }

/* The Product Section Navigation */
.product #section-nav .nav-arrow { left:37px; }
.market #section-nav .nav-arrow { left:154px; }
.lease #section-nav .nav-arrow { left:309px; }
.retain #section-nav .nav-arrow { left:460px; }
.pricing #section-nav .nav-arrow { left:613px; }

/* Scroll Body Padding Adjustment */
.scroll-page .stack-text.right { padding-left:460px; }

/* Pricing Page Set */
.pricing #additional-features .half { margin:15px 0; }
.pricing #additional-features .half h2 { font-size:28px; line-height:24px; }

.pricing #section-top { min-height:0px; }
.pricing #pricing-set { position:absolute; left:50px; }
.pricing .price-setup { float:left; }
.pricing #single-user { margin-right:50px; }
.pricing .super-script { position:relative; bottom:25px; left:5px; font-size:45px; }
.pricing .price { font-size:76px; }
.pricing .user-count { display:block; padding-left:28px; font-weight:bold; color:#36B1E4; line-height:0px; }

.pricing #directory { overflow:hidden; }
.pricing #directory #listing { bottom:45px; left:-55px; width:355px; height:355px; background:url('/images/market-furnished-apt.png') no-repeat 50px 50px; z-index:100; }
.pricing #directory #agent { width:170px; height:170px; left:280px; top:30px; background:url('/images/agent-photo.png') no-repeat -40px -20px; }


.syndication #section-top { min-height:120px; }


/* Market Graphics */
.market #scrolling-graphic-position { left:42px; }
.market .apt-img #scrolling-graphic { width:115px; height:115px; top:300px; background:url('/images/market-apt-front.png') top left no-repeat; z-index:100; }
.market #browser { width:320px; height:227px; top:70px; left:50px; background:url('/images/market-browser-bkg.png') no-repeat top left; }
.market #browser #screen { width:304px; height:183px; top:28px; left:8px; position:absolute; }
.market #browser .facebook { background:url('/images/market-facebook-widget-screen.png') no-repeat top left; }
.market #browser .craigslist { background:url('/images/market-craigslist-screen.png') no-repeat top left; }
.market #browser .zillow { background:url('/images/market-zillow-screen.png') no-repeat top left; }
.market #browser .trulia { background:url('/images/market-trulia-screen.png') no-repeat top left; }
.market #browser .hotpads { background:url('/images/market-hotpads-screen.png') no-repeat top left; }
.market #browser .rentsfnow { background:url('/images/market-rentsfnow-screen.png') no-repeat top left; }
.market #icon { background:url('/images/market-syndication-partner-icons.png') no-repeat top left; width:48px; height:48px; }
.market #icon.facebook { width:48px; height:48px; background-position:0px 0px;  }
.market #icon.trulia { height:66px; background-position:-115px 0px; }
.market #icon.zillow { width:77px; height:63px; background-position:-99px -94px; }
.market #icon.craigslist { width:69px; height:69px; background-position:0px -88px; }
.market #icon.hotpads { width:73px; height:58px; background-position:0px -190px; }
/*  */
.market #section-top { overflow:hidden; }
.market #section-top #icon { z-index:102; }
.market #section-top #icon.facebook { top:290px; left:400px; }
.market #section-top #icon.craigslist { top:280px; left:390px; }
.market #section-top #icon.zillow { top:280px; left:390px; }
.market #section-top #icon.trulia { top:280px; left:390px; }
.market #section-top #unfurn-apt { width:290px; height:290px; top:-50px; left:-44px; background:url('/images/market-unfurn-apt.png') no-repeat top left; }
.market #section-top #browser { z-index:101; top:115px; left:120px; }
/*  */
.market #data-entry { overflow:hidden; }
.market #data-entry #computer { width:410px; height:212px; top:90px; left:40px; background:url('/images/market-laptop-angle.png') no-repeat top left; }
.market #data-entry #apt-one { width:120px; height:120px; left:180px; top:0px; background:url('/images/market-apt-one.png') no-repeat -40px -18px; }
.market #data-entry #apt-two { width:150px; height:150px; left:260px; top:100px; background:url('/images/market-apt-two.png') no-repeat top left; }
/*  */
.market #directory { overflow:hidden; }
.market #directory #map { width:350px; height:350px; bottom:-110px; left:50px; background:url('/images/retain-map-bkg.png') no-repeat 0px -50px; }
.market #directory #apt-one { width:150px; height:150px; left:210px; top:0px; background:url('/images/market-apt-three.png') no-repeat top left; }
.market #directory #apt-two { width:105px; height:105px; left:320px; top:170px; background:url('/images/market-apt-four.png') no-repeat top left; }
/*  */
.market #websites #icon.facebook { top:250px; left:330px; }
.market #websites #icon.hotpads { top:248px; left:315px; }
/*  */
.market #juicepress #files { width:85px; height:99px; top:210px; left:40px; background:url('/images/lease-rj-file-icon.png') no-repeat top left; }
.market #juicepress #browser #screen { background:url('/images/market-juicepress-site.png') no-repeat top left; }
.market #juicepress #browser #screen.pre-juice { background-position-y:0px; }
.market #juicepress #browser #screen.mid-juice { background-position-y:-183px; }
.market #juicepress #browser #screen.post-juice { background-position-y:-366px; }
/*  */
.market #published { overflow:hidden; }
.market #published #syndication-logos { left:200px; top:10px; width:249px; height:319px; background:url('/images/market-published-logo-arc.png') no-repeat top left; }
.market #published #furn-apt { width:350px; height:350px; bottom:-60px; left:-60px; background:url('/images/market-furnished-apt.png') no-repeat 50px 0; }


/* Lease Graphics */
.lease #section-top { overflow:hidden; }
.lease #section-top #lap-pad { bottom:-70px; left:-58px; width:400px; height:400px; background:url('/images/lease-ipad-lead.png') no-repeat top left; z-index:100; }
.lease #scrolling-graphic-position { left:42px; }
.lease .lead-face #scrolling-graphic { width:115px; height:115px; top:300px; background:url('/images/retain-lead-photo.png') no-repeat top left; box-shadow:rgba(0,0,0,.05) 0 0 0 10px; }
/*  */
.lease #section-top #agent { width:170px; height:170px; left:240px; top:30px; background:url('/images/agent-photo.png') no-repeat -40px -20px; }
/*  */
.lease #capture { overflow:hidden; }
.lease #capture #iphone { width:394px; height:352px; left:90px; bottom:0px; position:absolute; z-index:5; }
.lease #capture #iphone.pre-iphone { background:url('/images/lease-iphone-pre.png') top left no-repeat; }
.lease #capture #iphone.mid-iphone { background:url('/images/lease-iphone-mid.png') top left no-repeat; }
.lease #capture #iphone.post-iphone { background:url('/images/lease-iphone-post.png') top left no-repeat; }
.lease #capture #check-mark { position:absolute; width:81px; height:46px; left:81px; top:170px; background:url('/images/lease-lead-check.png') top left no-repeat; z-index:3; }
.lease #capture #check-mark.post-check-mark { background-position:0px 0px; }
.lease #capture #check-mark.pre-check-mark { background-position:0px -59px; }
/*  */
.lease #buy { overflow:hidden; }
.lease #buy #big-lead { width:310px; height:310px; left:70px; bottom:-80px; background:url('/images/lease-big-lead.png') -50px 0 no-repeat; }
.lease #buy #small-lead { width:100px; height:100px; left:320px; bottom:250px; background:url('/images/lease-big-lead.png') -100px -40px no-repeat; z-index:6; }
/*  */
.lease #track .activity-box { left:115px; width:270px; }
.lease #track .activity-box .time-stamp { left:-86px; }
.lease #track .reg { display:block; }
.lease #track #comment { line-height:20px; font-size:14px; font-style:italic; }
.lease #track #reminder-box { top:192px; height:56px; overflow:visible !important; }
.lease #track #reminder-box .reg { line-height:18px; }
/*  */
.lease #approve #approval-details { left:178px; top:50px; font-weight:bold; }
.lease #approve #file-icon { width:85px; height:99px; left:-115px; background:url('/images/lease-rj-file-icon.png') no-repeat top left; }
.lease #approve #lead-name { font-size:30px; color:#ccc; margin:10px 0; }
.lease #approve .check { font-size:14px; color:#666; line-height:18px; }
.lease #approve .pass { color:#6f9320; }
.lease #approve #signature { width:288px; height:99px; top:200px; left:102px; }
.lease #approve .pre-sig { background:url('/images/lease-signature-blank.gif') no-repeat top left; }
.lease #approve .post-sig { background:url('/images/lease-signature-animation.gif') no-repeat top left; }
/*  */
.lease #forms #dot-line { width:281px; top:102px; left:0px; }
.lease #forms #form-papers { width:384px; height:258px; left:40px; }
.lease #forms .pre-form { background:url('/images/lease-form-pre.png') no-repeat top left; }
.lease #forms .post-form { background:url('/images/lease-form-post.png') no-repeat top left; }

/* Directory */
.directory #section-top { overflow:hidden; }
.directory #section-top #user { background:url('/images/the-product-top.png'); width:450px; height:450px; position:absolute; left:-40px; bottom:-115px; z-index:99; }
.directory #section-top #agent { width:170px; height:170px; left:300px; top:10px; background:url('/images/agent-photo.png') no-repeat -40px -20px; }
.directory #send #map { width:350px; height:350px; bottom:-20px; left:90px; background:url('/images/retain-map-bkg.png') no-repeat 0px -30px; }
.directory #send #apt-one { width:150px; height:150px; left:20px; top:17px; background:url('/images/market-apt-three.png') no-repeat top left; }
.directory #send #apt-two { width:105px; height:105px; left:380px; top:250px; background:url('/images/market-apt-four.png') no-repeat top left; }
.directory #access { overflow:hidden; }
.directory #access .circle { left:55px; top:75px; width:200px; height:200px; background:url('/images/rent-indexes-cities.png') no-repeat top left; z-index:100; }
.directory #access { height:300px; }
.directory #access #nyc-map { background-position-y:-200px; left:-40px; top:100px; }
.directory #access #boston-map { background-position-y:-400px; left:120px; top:100px; }
.directory #access #chicago-map { background-position-y:0px; left:300px; top:100px; }
.directory #mls { overflow:hidden; }
.directory #mls #listing { top:-60px; left:-55px; width:355px; height:355px; background:url('/images/market-furnished-apt.png') no-repeat 50px 50px; z-index:100; }
.directory #mls #map { background:url('/images/the-product-map.png') no-repeat 0px -30px; width:230px; height:230px; position:absolute; left:255px; bottom:35px; z-index:98; }

/* Features */
.features #section-top { min-height:120px; }
.features #feature-list h3 { font-size:32px; margin:0px; }
.features #feature-list h3.section { margin-top:50px; }
.features #content-body #feature-list p.title { font-size:20px; margin-top:20px; }
.features #feature-list .feature-desc { font-size:16px; }
.features #feature-list a { font-size:16px; }

/* Retain Graphics */
.retain #scrolling-graphic-position { left:42px; }
.retain .lead-face #scrolling-graphic { width:115px; height:115px; top:250px; background:url('/images/retain-lead-photo.png') no-repeat top left; box-shadow:rgba(0,0,0,.05) 0 0 0 10px; }
/*  */
.retain #repeat-map { width:350px; height:350px; left:60px; top:100px; background:url('/images/retain-map-bkg.png') no-repeat 0px -27px; }
.retain #section-top .line-end { background-color:#ddd; width:5px; height:5px; display:block; top:112px; left:102px; }
.retain #section-top #dot-line { width:291px; bottom:141px; left:-41px; }
/*  */
.retain #alert-phone { width:394px; height:387px; bottom:0px; left:130px; }
.retain .pre-phone { background:url('/images/retain-pre-iphone.png') no-repeat top left; }
.retain .post-phone { background:url('/images/retain-post-iphone.png') no-repeat top left; }
.retain #alert-clock { top:170px; left:92px; width:26px; height:26px; background:url('/images/retain-sprite-alarm.png') no-repeat top left; }
.retain #alert-clock.pre-clock { background-position:0px 0px; }
.retain #alert-clock.post-clock { background-position:0px -34px; }
.retain #alert-reminder { top:170px; left:125px; font-weight:bold; color:#aaa; font-size:13px; }
/*  */
.retain #in-touch #mail { width:421px; height:295px; bottom:0px; left:50px; }
.retain .pre-mail { background:url('/images/retain-pre-mail.png') no-repeat top left; }
.retain .mid-mail { background:url('/images/retain-mid-mail.png') no-repeat top left; }
.retain .post-mail { background:url('/images/retain-post-mail.png') no-repeat top left; }
.retain #intouch-alert { top:164px; left:30px; width:56px; height:56px; background:url('/images/retain-intouch-alert.png') no-repeat top left; }
/*  */
.retain #match-date { top:20px; left:104px; }
.retain #match-lead-details { top:70px; left:42px; width:200px; padding-left:140px; border-radius:100px 30px 30px 100px; background:#fff url('/images/retain-lead-sihoulette.png') no-repeat 30px 23px; }
.retain #lead-name { display:block; font-size:18px; font-weight:bold; }
.retain #lead-contact { display:block; }
.retain #lead-details { line-height:16px; }
.retain #match-lead-activity { top:220px; left:114px; width:248px; }
.retain #match-lead-activity .reg { line-height:18px; display:block; }
.retain #match-lead-activity #view-email { font-weight:bold; float:left; }
.retain #match-time { top:232px; left:37px; }

.syndication .nav-arrow { display:none; }
.juicepress .nav-arrow { display:none; }
.directory .nav-arrow { display:none; }
.features .nav-arrow { display:none; }

